$mainFont: 'Open Sans', sans-serif;
$navBgColor: rgba(256,256,256,0.5);
$halfColumnPadding: 50px 0px 10px 20px;
$mainNavAcolor:  #472063;
$bgBodyColor: #73b7e1;
$bgButtonColor:  #d469a5;
$bgButtonColorHover: #fa75ad;